@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-fade-in {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1s, transform 1s ease-out;
}

.text-fade-in.text-visible {
  transform: translateX(0);
  opacity: 1;
}

.block-fade-in {
  opacity: 0;
  transition: opacity 1.5s;
}

.block-fade-in.block-visible {
  opacity: 1;
}
